@font-face {font-family: "Orkney Light"; src: url('./fonts/orkney/Orkney\ Light.ttf')}
@font-face {font-family: "Orkney Medium"; src: url('./fonts/orkney/Orkney\ Medium.ttf')}
@font-face {font-family: "Orkney Bold"; src: url('./fonts/orkney/Orkney\ Bold.ttf')}

body {
   margin: 0;  
   height: 100%;
   overflow: hidden;
}

#progress-bar {
   width: 50vw;
   height: 5vh;
   background-color: black;
   border-radius: 5vw;
   position: relative
}
#progress-bar::before {
   content: "";
   width: calc(var(--width, 0) * 1%);
   position: absolute;
   left: 1vw;
   top: 1vh;
   bottom: 1vh;
   min-width: 0.1vw;
   max-width: calc(100% - 2vw);
   background-color: red;
   border-radius: 10000vw;
}
#img-for-analysis {
   margin-top: 100vh;
   opacity: 0;
   position: fixed;
}
