@font-face {
    font-family: "Orkney Light";
    src: url('../fonts/orkney/Orkney\ Light.ttf')
}

@font-face {
    font-family: "Orkney Medium";
    src: url('../fonts/orkney/Orkney\ Medium.ttf')
}

@font-face {
    font-family: "Orkney Bold";
    src: url('../fonts/orkney/Orkney\ Bold.ttf')
}

:root {
    --white: #C8C8C8;
    --red: #EB5E28;
    --dark-gray: #29282a;
    --shady-gray: #302f31;
    --gray: #3d3c3e;
    --medium-gray: #3a383b;
    --light-gray: #4c4b4e;
    --black: #000000;
}

* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    outline: none;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--black);
}

body {
    display: flex;
    flex-direction: column;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
    outline-color: var(--light-gray);
    outline-style: solid;
    outline-width: 3px;
    -webkit-appearance: none;
    border-width: 0;
    border-style: none;
}

.option-button {
    background-color: var(--gray);
    outline-color: var(--light-gray);
    outline-style: solid;
    outline-width: 3px;
    -webkit-appearance: none;
    border-width: 0;
    border-style: none;
    color: var(--white);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

.option-button:active {
    outline-color: var(--gray)
}

#tabs {
    width: 100%;
    height: 5%;
    background-color: var(--light-gray);
    display: flex;
    flex-direction: row;
}

.tab-link {
    height: 100%;
    width: 50%;
    background-color: var(--gray);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--white);
}

.tab-link:hover {
    background-color: var(--dark-gray)
}

.tab-link.active {
    background-color: var(--dark-gray);
}

#settings {
    width: 78%;
    height: 94%;
    overflow-y: auto;
    background-color: var(--dark-gray);
    display: flex;
    flex-direction: column;
    padding-left: 11%;
    padding-right: 11%;
    padding-top: 10%;
    padding-bottom: 10%;
    display: none;
}

#options {
    width: 78%;
    height: 94%;
    overflow-y: auto;
    background-color: var(--dark-gray);
    display: flex;
    flex-direction: column;
    padding-left: 11%;
    padding-right: 11%;
    padding-top: 10%;
    padding-bottom: 10%;
}

#options::-webkit-scrollbar {
    width: 3%;
}
#options::-webkit-scrollbar-track {
    background: var(--black);
}
#options::-webkit-scrollbar-thumb {
    background: var(--medium-gray)
}

.option {
    display: flex;
    flex-direction: column;
    margin-top: 3vh;
}

.input-label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--white);
}

.input-text-box {
    padding-top: 0.15em;
    padding-bottom: 0.15em;
    padding-left: 0.6em;
    margin-top: 0.5vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--gray);
    border: 1px solid #00000000;
    color: var(--white);
    border-radius: 0.2em;
}

#preview-container {
    width: 80%;
    height: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

#img-for-analysis {
    margin-top: 100vh;
    opacity: 0;
    position: fixed;
}

.error {
    color: var(--red);
}

#filename {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--white);
    background-color: var(var(--gray));
    padding: 0.6em;
    font-size: 15px;
    border-radius: 0.2em;
    word-wrap: break-word;
}

#destination {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--white);
    background-color: var(var(--gray));
    padding: 0.6em;
    font-size: 15px;
    border-radius: 0.2em;
    word-wrap: break-word;
}

.base-text-option {
    color: var(--white);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}

#select-file-button {

}

#convert-button {
    margin-top: 8vh;
    margin-bottom: 8vh;
}

#progress-bar {
    width: calc(var(--width) * 1%);
    height: 1%;
    background-color: var(--white);
}

.column {
    display: flex;
    flex-direction: column;
}

#left-bar {
    width: 20%;
    height: 100%;
}

#privacy-url {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: var(--white);
    text-decoration: none;
}

#privacy-url:hover {
    text-decoration: underline;
}