@font-face {
    font-family: "Orkney Light";
    src: url('./fonts/orkney/Orkney\ Light.ttf')
}

@font-face {
    font-family: "Orkney Medium";
    src: url('./fonts/orkney/Orkney\ Medium.ttf')
}

@font-face {
    font-family: "Orkney Bold";
    src: url('./fonts/orkney/Orkney\ Bold.ttf')
}

* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    outline: none;
}

body {
    margin: 0;
    padding: 0;
}

a {
    color: black;
    text-decoration: none;
}

#background {
    background-image: url(./images/landscape-photo-of-mountain-with-polar-lights-1434608.jpg);
    background-size: cover;
    filter: grayscale(100%);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: filter;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    width: 100%;
    z-index: -1;
}

#get-started-button {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-name: fade-in;
    animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    background-color: rgba(0, 0, 0, 0);
    color: black;
    left: 65vw;
    opacity: 0;
    outline: none;
    position: relative;
    top: 10vh;
    transition: transform;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    width: 11vw;
}

#get-started-button:hover {
    transform: translateX(.4vw);
}

#get-started-button:hover~#background {
    filter: grayscale(0%);
}

#main-text-wrapper {
    margin-left: 15vw;
    padding: 0;
    padding-top: 17vh;
}

#main-text {
    font-family: "Orkney Bold";
    font-size: 6vw;
    margin: 0;
    padding: 0;
}

#text-feel {
    animation-delay: 0s;
}

#text-experience {
    animation-delay: 3s;
}

#button-text {
    font-family: "Orkney Medium";
    font-size: 2vw;
}

.sliding-vertical {
    display: inline;
}

.rotating-text {
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-name: rotate;
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    opacity: 0;
    overflow: hidden;
    position: absolute;
    transform: rotate3d(1, 0, 0, 90deg);
}

.rotating-text-last {
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-name: rotate;
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    opacity: 0;
    overflow: hidden;
    position: absolute;
}

@keyframes rotate {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
        transform: translateY(-4vw) rotate3d(1, 0, 0, 90deg);
    }
    50% {
        opacity: 1;
        transform: translateY(0px);
    }
    75% {
        opacity: 1;
        transform: translateY(0px);
    }
    100% {
        opacity: 0;
        transform: translateY(4vw) rotate3d(1, 0, 0, -90deg);
    }
}

@keyframes rotate-last {
    0% {
        opacity: 0;
        transform: rotate3d(1, 0, 0, 90deg);
    }
    25% {
        opacity: 0;
        transform: translateY(-4vw) rotate3d(1, 0, 0, 90deg);
    }
    50% {
        opacity: 1;
        transform: translateY(0px);
    }
    75% {
        opacity: 1;
        transform: translateY(0px);
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}